<% include ./partials/header %>

<div class="ui main text container segment">
<h2>List all the users</h2>
<i class="exchange icon"></i> Update a user
<i class="remove user icon"></i> Remove a user
  <div class="ui segment">
      <div>
        <!-- If false, tell the user to create a new user -->
        <% if(users.users === false){ %>
         <h5>There is no users, click the "Create a user" tab above to create one!</h5>
        <% } else{ %>
        <!-- otherwise, iterate through the users collection and list them -->
          <% users.forEach(function(user) { %>
          <ul>
            <li>
              <a href="/user/<%= user._id %>/edit"><i class="exchange icon"></i></a>
              <a href="/user/<%= user._id %>/edit"><i class="remove user icon"></i></a>
              <div class="field">
                <span class="name">Name:</span> <%=user.name%>
              </div>
              <div class="field">
                <span class="name">Age:</span> <%=user.age%>
              </div>
              <div class="field">
                <span class="name">Email:</span> <%=user.email%>
              </div>
            </li>
          </ul>
          <%  }) %>

        <% } %>


      </div>
  </div>
</div>

<% include ./partials/footer %>
